.nav-link{
    color: #6a0dad;
    font-size: 20px;
  }
  .navbar-brand{
    color: #6a0dad; 
  }
  .nav-link:hover {
    color: #4b077a;
    background-color: #d1b2eb /* Darker purple for hover state */;
    border-radius: 8px;
  }
  
  .nav-link.active {
    color: #4b077a; /* Darker purple for active state */
  }
  .nav{
    background-color: #fff;
  }
  .image{
    width: 100px;
    height: 100px;
  }