.nav-link{
    color: #000000; 
    font-size: 20px;
}
.navbar-brand{
    color: #E447FA; 
}
  .nav-link.active {
    color: #E447FA; /* Darker purple for active state */
  }
  .nav{
    background-color: #fff;
  }
  .image{
    width: 100px;
    height: 100px;
}
.text-brand{
  color: #000000;
  font-size: 1.8rem;
  font-weight: 600;
  
}
