.nav-contact{
    background-color: #E447FA;
}
.contact{
    color: #E447FA;
}
.map{
    margin-left: 30%;
}
.phone-icon{
    color: #E447FA;
    margin-right: 20px;
}
.location-icon{
    color: #E447FA;
    margin-right: 20px;
}
.email-icon{
    color: #E447FA;
    margin-right: 20px;
}