ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.header-video {
  font-size: 2.6rem;
  font-weight: 600;
}
.title{
  font-size: 2.6rem;
  font-weight: 600;
}
.image-container {
  display: flex;
  flex-direction: row;
}
.image-container {
  display: flex;
  flex-direction: row;
}

.gallery-image {
  width: 150px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 60px; /* Add space between images */
  margin-left: 100px;
  margin-top: 20px;
}
.title1{
  margin-left: 10px;
}
.card {
  border: none !important;
  box-shadow: none !important;
}
.card-header {
  border-bottom: none; /* Remove line under the header */
  background-color: white; /* Set background color of the header to plain white */
}

.card-body {
  background-color: white; /* Set background color of the body to plain white */
}
.card-container {
  display: flex;
  margin-top: 20px;
}
.card {
  flex: 1;
  margin-right: 100px; /* Adjust margin between cards horizontally */
  max-width: 300px; /* Set maximum width for each card */
}

.card:last-child {
  margin-right: 0; /* Remove margin from the last card to prevent overflow */
}

.card-header {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  color: #750b88
}

.card-body {
  padding: 10px;
}
.card1{
  margin-left: 50px;
}


























